a:focus, a:hover, a {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

input {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

textarea {
    width: 90%;
    margin: 0 auto;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#loginPage_cat {
	background-image: url('../img/hp03.jpg') !important;
	background-position: 0px 60px;
	background-size: 260%;
}

.footer_cat h3{
	text-transform: capitalize;
	font-weight: normal;
}

.logoApp_cat {
	text-align: center;
}

.logoApp_cat img {
	height: auto;
}


.ui-header {
	padding-top: 20px;
}

.ui-header .ui-toolbar-back-btn {
	margin-top: 20px;
	background: none !important;
	background-color: none !important;
	border: none;
	box-shadow: none;
}


/** INPUT **/
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
	margin: 10px 0;
}

.big-button {
	padding: 40px;
}




/** POPUP **/
.ui-popup-screen.in {
    background-color: #000;
}

fieldset.ui-controlgroup.ui-controlgroup-vertical.ui-corner-all {
    padding: 0 10px;
}


/*ORDERS*/
.ui-collapsible-content a {
    text-decoration: none;
}

.ui-collapsible-heading img {
    height: 15px;
    margin-right: 10px;
}

.red_icon {
    background-image: url('../img/red.png');
}

.yellow_icon {
    background-image: url('../img/yellow.png');
}

.green_icon {
    background-image: url('../img/green.png');
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    min-height: 120px;
}

.ui-loading .ui-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
}



#map_canvas { max-width: none; }